
#wb_header { height: 191px; }
#wb_header > .wb_cont_bg { background: transparent none repeat left top; background-size: auto auto; }
#wb_main { height: 926px; padding-bottom: 100px; }
#wb_main > .wb_cont_bg { background: transparent none repeat left top; background-size: auto auto; }
#wb_footer { height: 90px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat left top; background-size: auto auto; }
body { background: #ffffff none no-repeat scroll center top; background-size: auto auto; }
.wb_sbg { background: transparent none repeat-x left top; }
body, .wb_sbg { min-width: 992px; min-height: 1207px; }
.wb_cont_inner { width: 992px; }
.wb_cont_bg { width: 992px; margin-left: -496px; }
.root { height: 1861px; overflow: visible; min-height: 1207px; }
#wb_element_instance159 { top: 22px; left: 210px; min-width: 570px; width: 570px; min-height: 140px; height: 140px; display: block; z-index: 878; }
#wb_element_instance160 { top: 130px; left: 0px; min-width: 992px; width: 992px; min-height: 63px; height: 63px; display: block; z-index: 1806; }
#wb_element_instance160 > ul { display: block; }
#wb_element_instance160 ul { background: rgba(255, 255, 255, 0.87) url('../gallery/92c15401f7fbb82cba405a78c435a34a.jpg') repeat left top; border: 1px none #000000; }
#wb_element_instance160, #wb_element_instance160 ul { text-align: center; }
#wb_element_instance160 ul ul { background: #1f1f1f none repeat left top; }
#wb_element_instance160 li { margin: 0px 10px 0px 10px; }
#wb_element_instance160 li a { text-transform: none; border: 0px none #000000; padding: 25px 20px 20px 20px; font: normal bold 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 18px; background: transparent none repeat left top; }
#wb_element_instance160 li.over > a, #wb_element_instance160 li:focus > a { border: 1px solid #000000; font: normal bold 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #53a39f; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance160 li.active > a { border: 0px none #000000; font: normal bold 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #d28f5c; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance160:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance160:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance160:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance161 { top: 7px; left: 30px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; z-index: 865; }
#wb_element_instance161 img { width: 110px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance162 { top: 125px; left: 120px; min-width: 280px; width: 280px; min-height: 70px; height: 70px; display: block; z-index: 255; }
#wb_element_instance162 > ul { display: block; }
#wb_element_instance162 ul { background: rgba(255, 255, 255, 0.87) url('../gallery/christopher-burns-295985-ts1513947514.jpg') repeat left top; border: 1px none #000000; }
#wb_element_instance162, #wb_element_instance162 ul { text-align: left; }
#wb_element_instance162 ul ul { background: #1f1f1f none repeat left top; }
#wb_element_instance162 li { margin: 0px 10px 0px 10px; }
#wb_element_instance162 li a { text-transform: none; border: 0px none #000000; padding: 17px 15px 17px 15px; font: normal bold 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 18px; background: transparent none repeat left top; }
#wb_element_instance162 li.over > a, #wb_element_instance162 li:focus > a { border: 1px solid #000000; font: normal bold 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #53a39f; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance162 li.active > a { border: 0px none #000000; font: normal bold 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #d28f5c; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance162:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance162:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance162:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance163 { top: 125px; left: 700px; min-width: 330px; width: 330px; min-height: 71px; height: 71px; display: block; z-index: 256; }
#wb_element_instance163 > ul { display: block; }
#wb_element_instance163 ul { background: rgba(255, 255, 255, 0.87) url('../gallery/stephen-di-donato-119071-ts1513947398.jpg') repeat left top; border: 1px none #000000; }
#wb_element_instance163, #wb_element_instance163 ul { text-align: right; }
#wb_element_instance163 ul ul { background: #1f1f1f none repeat left top; }
#wb_element_instance163 li { margin: 0px 10px 0px 10px; }
#wb_element_instance163 li a { text-transform: none; border: 0px none #000000; padding: 15px 20px 20px 20px; font: normal bold 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 18px; background: transparent none repeat left top; }
#wb_element_instance163 li.over > a, #wb_element_instance163 li:focus > a { border: 1px solid #000000; font: normal bold 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #53a39f; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance163 li.active > a { border: 0px none #000000; font: normal bold 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #d28f5c; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance163:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance163:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance163:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance164 { top: 10px; left: 0px; min-width: 1199px; width: 1199px; min-height: 96px; height: 96px; display: block; z-index: 57; }
#wb_element_instance165 { top: 153px; left: 510px; min-width: 124px; width: 124px; min-height: 123px; height: 123px; display: block; z-index: 66; }
#wb_element_instance165 img { width: 124px; height: 123px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance166 { top: 0px; left: 0px; min-width: 1199px; width: 1199px; min-height: 63px; height: 63px; display: block; z-index: 702; }
#wb_element_instance166 > ul { display: block; }
#wb_element_instance166 ul { background: rgba(255, 255, 255, 0.87) url('../gallery/62385e1c4b60910f20368103a03fa5cc.jpg') repeat center top; border: 1px none #000000; }
#wb_element_instance166, #wb_element_instance166 ul { text-align: center; }
#wb_element_instance166 ul ul { background: #1f1f1f none repeat left top; }
#wb_element_instance166 li { margin: 0px 10px 0px 10px; }
#wb_element_instance166 li a { text-transform: none; border: 0px none #000000; padding: 25px 20px 20px 20px; font: normal bold 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 18px; background: transparent none repeat left top; }
#wb_element_instance166 li.over > a, #wb_element_instance166 li:focus > a { border: 1px solid #000000; font: normal bold 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #53a39f; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance166 li.active > a { border: 0px none #000000; font: normal bold 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #d28f5c; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance166:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance166:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance166:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance167 { top: 296px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance168 { top: 83px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance159 p:last-child { margin-bottom: 0; }
#wb_element_instance164 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 1200px) {
	#wb_header { height: 196px; }
	#wb_main { height: 326px; }
	#wb_footer { height: 109px; }
	body, .wb_sbg { min-width: 1200px; min-height: 631px; }
	.wb_cont_inner { width: 1200px; }
	.wb_cont_bg { width: 1200px; margin-left: -600px; }
	.root { height: 681px; overflow: visible; min-height: 631px; }
	#wb_element_instance159 { top: 0px; left: 172px; min-width: 852px; width: 852px; min-height: 124px; height: 124px; display: block; }
	#wb_element_instance160 { top: 130px; left: 0px; min-width: 1200px; width: 1200px; min-height: 63px; height: 63px; display: block; }
	#wb_element_instance160 > ul { display: block; }
	#wb_element_instance161 { top: 7px; left: 30px; min-width: 109px; width: 109px; min-height: 111px; height: 111px; display: block; overflow: hidden; }
	#wb_element_instance161 img { width: 110px; height: 110px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance162 { top: 180px; left: 90px; min-width: 280px; width: 280px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance162 > ul { display: block; }
	#wb_element_instance163 { top: 180px; left: 760px; min-width: 329px; width: 329px; min-height: 71px; height: 71px; display: block; }
	#wb_element_instance163 > ul { display: block; }
	#wb_element_instance164 { top: 10px; left: 0px; min-width: 1199px; width: 1199px; min-height: 93px; height: 93px; display: block; }
	#wb_element_instance165 { top: 153px; left: 510px; min-width: 124px; width: 124px; min-height: 123px; height: 123px; display: block; overflow: hidden; }
	#wb_element_instance165 img { width: 124px; height: 124px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance166 { top: 0px; left: 0px; min-width: 1199px; width: 1199px; min-height: 63px; height: 63px; display: block; }
	#wb_element_instance166 > ul { display: block; }
	#wb_element_instance167 { top: 296px; left: 0px; display: block; }
	#wb_element_instance168 { top: 83px; left: 0px; display: block; }
}

@media (max-width: 767px) {
}
